<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Frxs.Erp.ServiceCenter.Product.Actions</name>
    </assembly>
    <members>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.ShelfAreaTableListAction">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.ShelfAreaTableListAction.Execute">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.ShelfAreaTableListAction.ShelfAreaTableListRequest">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfAreaTableListAction.ShelfAreaTableListRequest.WID">
            <summary>
            仓库ID(Warehouse.WID)
            </summary>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction.Execute">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction.ShelfSaveRequest">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction.ShelfSaveRequest.ShelfID">
            <summary>
            ID(主键)
            </summary>            
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction.ShelfSaveRequest.ShelfCode">
            <summary>
            货位编号(同一个仓库不能重复)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction.ShelfSaveRequest.ShelfAreaID">
            <summary>
            所属货区ID(ShelfArea.ShelfAreaID)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction.ShelfSaveRequest.ShelfType">
            <summary>
            货位类型(0:存储;1:)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction.ShelfSaveRequest.WID">
            <summary>
            仓库ID(Warehouse.WID)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfSaveAction.ShelfSaveRequest.Status">
            <summary>
            状态(0:正常;1:冻结)
            </summary>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfDelAction">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfDelAction.Execute">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfDelAction.ShelfDelRequest">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfDelAction.ShelfDelRequest.ShelfID">
            <summary>
            ID(主键)
            </summary>            
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfEditAction.Execute">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfEditAction.ShelfEditRequest">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfEditAction.ShelfEditRequest.ShelfID">
            <summary>
            ID(主键)
            </summary>            
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfEditAction.ShelfEditRequest.ShelfCode">
            <summary>
            货位编号(同一个仓库不能重复)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfEditAction.ShelfEditRequest.ShelfAreaID">
            <summary>
            所属货区ID(ShelfArea.ShelfAreaID)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfEditAction.ShelfEditRequest.ShelfType">
            <summary>
            货位类型(0:存储;1:)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfEditAction.ShelfEditRequest.WID">
            <summary>
            仓库ID(Warehouse.WID)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfEditAction.ShelfEditRequest.Status">
            <summary>
            状态(0:正常;1:冻结)
            </summary>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfGetAction">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfGetAction.Execute">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfGetAction.ShelfGetRequest">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Shelf.ShelfGetAction.ShelfGetRequest.ShelfID">
            <summary>
            ID(主键)
            </summary>            
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.ShelfTableListAction">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.ShelfTableListAction.Execute">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.ShelfTableListAction.ShelfTableListRequest">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfTableListAction.ShelfTableListRequest.ShelfCode">
            <summary>
            货位编号(同一个仓库不能重复)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfTableListAction.ShelfTableListRequest.WID">
            <summary>
            仓库ID(Warehouse.WID)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfTableListAction.ShelfTableListRequest.ShelfAreaID">
            <summary>
            所属货区ID(ShelfArea.ShelfAreaID)
            </summary>            
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.ShelfTableListAction.ShelfTableListRequest.Status">
            <summary>
            状态(0:正常;1:冻结)
            </summary>           
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.A">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.A.Name">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.A.B">
            <summary>
            
            </summary>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.B">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.B.Age">
            <summary>
            
            </summary>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.TestRequestDto">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.TestRequestDto.Key">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.TestRequestDto.Name">
            <summary>
            
            </summary>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.TestActio3n">
            <summary>
            
            </summary>
        </member>
        <member name="F:Frxs.Erp.ServiceCenter.Product.Actions.TestActio3n._actionSelector">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.TestActio3n.#ctor(Frxs.ServiceCenter.Api.Core.IActionSelector)">
            <summary>
            
            </summary>
            <param name="actionSelector"></param>
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.TestActio3n.Execute">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.Warehouse.WarehouseTableListAction">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.Erp.ServiceCenter.Product.Actions.Warehouse.WarehouseTableListAction.Execute">
            <summary>
            执行业务逻辑
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.Warehouse.WarehouseTableListAction.WarehouseTableListActionRequestDto">
            <summary>
            上送的参数对象
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Warehouse.WarehouseTableListAction.WarehouseTableListActionRequestDto.WCode">
            <summary>
            仓库编号(唯一)
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Warehouse.WarehouseTableListAction.WarehouseTableListActionRequestDto.WName">
            <summary>
            仓库名称
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Warehouse.WarehouseTableListAction.WarehouseTableListActionRequestDto.WContact">
            <summary>
            联系人姓名
            </summary>
        </member>
        <member name="P:Frxs.Erp.ServiceCenter.Product.Actions.Warehouse.WarehouseTableListAction.WarehouseTableListActionRequestDto.IsFreeze">
            <summary>
            是否已被冻结(0:未冻结;1、已冻结)
            </summary>
        </member>
        <member name="T:Frxs.Erp.ServiceCenter.Product.Actions.Warehouse.WarehouseTableListAction.WarehouseTableListActionResponseDto">
            <summary>
            下送的数据
            </summary>
        </member>
    </members>
</doc>
