<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="dataSyncClient" type="Frxs.ServiceCenter.DataSync.Message.DataSyncClient.Configuration,Frxs.ServiceCenter.DataSync.Message.DataSyncClient" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="FRXS_ERP_BASEDATAContext" connectionString="Data Source=localhost;Initial Catalog=FRXS_ERP_BASEDATA;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="FRXS_ERP_USERContext" connectionString="Data Source=localhost;Initial Catalog=FRXS_ERP_USER;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--
  同步客户端系统配置
  MessageServerUrl  : 消息服务器地址
  MaxRetries        : 增量同步处理消息错误，最大重试次数
  Number            : 增量同步每次消息的消息数量
  dataSyncType      : 同步方式; 0:单线程  1:多线程
  -->
  <dataSyncClient wid="0" messageServerUrl="http://m.api.com/Api" maxRetries="10" number="200" dataSyncType="1">
    <apiRoutes>
      <route prefix="DataSync.Base" serverUrl = "http://b.api.com/api" />
      <route prefix="DataSync.Order" serverUrl = "http://o.api.com/api" />
      <route prefix="DataSync.Promo" serverUrl = "http://p.api.com/api" />
      <route prefix="DataSync.User" serverUrl = "http://u.api.com/api" />
    </apiRoutes>
  </dataSyncClient>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>