<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Frxs.ServiceCenter.Api.Host</name>
    </assembly>
    <members>
        <member name="T:Frxs.ServiceCenter.Api.Host.Actions.API2Action">
            <summary>
            演示接口框架
            </summary>
        </member>
        <member name="F:Frxs.ServiceCenter.Api.Host.Actions.API2Action._shelfRepository">
            <summary>
            数据访问仓储
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Actions.API2Action.#ctor(Frxs.ServiceCenter.Core.Data.IRepository{Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf},Frxs.ServiceCenter.Core.Data.IRepository{Frxs.ServiceCenter.Api.Host.Data.Domain.Warehouse})">
            <summary>
            直接使用注入的方式来进行数据访问对象初始化
            </summary>
            <param name="shelfRepository"></param>
            <param name="warehouseRepository"></param>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Actions.API2Action.Execute">
            <summary>
            执行业务逻辑
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Actions.Order">
            <summary>
            类说明与属性说明还是需要详细点滴，接口框架需要这些信息输出SDK开发文档
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.OrderId">
            <summary>
            订单编号
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.Address">
            <summary>
            收货地址
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.Payment">
            <summary>
            实际支付金额
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.Discount">
            <summary>
            优惠总金额
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.PostFee">
            <summary>
            运费
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.TotalItems">
            <summary>
            总商品数
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.Created">
            <summary>
            下单时间
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.Items">
            <summary>
            订单商品明细
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Order.ConfirmUserId">
            <summary>
            最后操作用户ID
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Actions.Address">
            <summary>
            收货地址
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Address.Provice">
            <summary>
            省
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Address.City">
            <summary>
            市
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Address.Dist">
            <summary>
            区县
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Actions.Item">
            <summary>
            商品明细对象
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Item.ProductId">
            <summary>
            商品编号
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Item.Price">
            <summary>
            价格
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.Item.N">
            <summary>
            数量
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Actions.TestRequestDto">
            <summary>
            测试请求接口
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.TestRequestDto.OrderId">
            <summary>
            订单编号
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.TestRequestDto.Created1">
            <summary>
            下单时间1
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Actions.TestRequestDto.Created2">
            <summary>
            下单时间2
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Actions.TestRequestDto.Valid">
            <summary>
            演示自定义的业务逻辑参数判断
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Actions.A">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Actions.A.OnActionExecuting(Frxs.ServiceCenter.Api.Core.ActionExecutingContext)">
            <summary>
            
            </summary>
            <param name="actionExecutingContext"></param>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Actions.A.OnActionExecuted(Frxs.ServiceCenter.Api.Core.ActionExecutedContext)">
            <summary>
            
            </summary>
            <param name="actionExecutedContext"></param>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Actions.TestActio3n">
            <summary>
            测试请求接口，仅仅是测试
            </summary>
        </member>
        <member name="F:Frxs.ServiceCenter.Api.Host.Actions.TestActio3n._actionSelector">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Actions.TestActio3n.#ctor(Frxs.ServiceCenter.Api.Core.IActionSelector)">
            <summary>
            
            </summary>
            <param name="actionSelector"></param>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Actions.TestActio3n.Execute">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.ShelfID">
            <summary>
            ID(主键)
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.ShelfCode">
            <summary>
            货位编号(同一个仓库不能重复)
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.ShelfAreaID">
            <summary>
            所属货区ID(ShelfArea.ShelfAreaID)
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.ShelfType">
            <summary>
            货位类型(0:存储;1:)
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.WID">
            <summary>
            仓库ID(Warehouse.WID)
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.Status">
            <summary>
            状态(0:正常;1:冻结)
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.ModifyTime">
            <summary>
            最新修改删除时间
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.ModifyUserID">
            <summary>
            最后修改删除用户ID
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.ModifyUserName">
            <summary>
            最后修改删除用户名称
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.WName">
            <summary>
            仓库名称
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.ShelfAreaName">
            <summary>
            货区
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Shelf.StatusStr">
            <summary>
            状态
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Data.Domain.Warehouse">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Warehouse.WHID">
            <summary>
            
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.Domain.Warehouse.WHName">
            <summary>
            
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Data.Mapping.ShelfMap">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Data.Mapping.ShelfMap.#ctor">
            <summary>
            
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Data.Mapping.WarehouseMap">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Data.Mapping.WarehouseMap.#ctor">
            <summary>
            
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Data.V20DbContext">
            <summary>
            数据库访问上下文
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Data.V20DbContext.#ctor(System.String)">
            <summary>
            初始化数据访问上下文对象
            </summary>
            <param name="nameOrConnectionString">数据库连接名</param>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Data.V20DbContext.OnModelCreating(System.Data.Entity.DbModelBuilder)">
            <summary>
            初始化数据库对象，如果数据库未生成则会自动生成数据库
            </summary>
            <param name="modelBuilder"></param>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Data.DependencyRegistar">
            <summary>
            框架会自动检测到这里的注册类,自动完成注册
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Data.DependencyRegistar.Register(Autofac.ContainerBuilder,Frxs.ServiceCenter.Api.Core.ITypeFinder)">
            <summary>
            系统框架默认的会被覆盖;
            </summary>
            <param name="containerBuilder"></param>
            <param name="typeFinder">类型查找器</param>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.DependencyRegistar.Order">
            <summary>
            数字越大越后注册
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.Data.DataBaseAccessConfig">
            <summary>
            <![CDATA[
            本API访问记录器web.config节点配置对象；此配置节点会被IOC容器自动注册;
            <configuration>
            <configSections>
             <section name="V20ConnectionName" type="Frxs.ServiceCenter.Api.Host.Data.DataBaseAccessConfig,Frxs.ServiceCenter.Api.Host"/>
            </configSections>
             <V20ConnectionName connectionStringName="connstring_sql"/>
            <configuration>
            ]]>
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Data.DataBaseAccessConfig.#ctor">
            <summary>
            配置文件对应的实体类
            </summary>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.DataBaseAccessConfig.SectionName">
            <summary>
            节点名称
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.Data.DataBaseAccessConfig.Create(System.Object,System.Object,System.Xml.XmlNode)">
            <summary>
            创建配置对象信息
            </summary>
            <param name="parent"></param>
            <param name="configContext"></param>
            <param name="section"></param>
            <returns></returns>
        </member>
        <member name="P:Frxs.ServiceCenter.Api.Host.Data.DataBaseAccessConfig.ConnectionStringName">
            <summary>
            数据库连接字符串
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.DynamicCompiledDependencyRegistar">
            <summary>
            动态编译并注册接口框架配置
            注意：此文件需要单独放置于网站根目录；系统框架将会在启动的时候自动进行注册配置；如果修改了文件内容，需要重启IIS
            开发的时候此文件生成操作设置成：编译；编译的时候，请将此文件生成操作设置为：内容
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.DynamicCompiledDependencyRegistar.Register">
            <summary>
            注册各种需要初始化的数据
            </summary>
        </member>
        <member name="T:Frxs.ServiceCenter.Api.Host.ApiHostApplication">
            <summary>
            
            </summary>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.ApiHostApplication.Application_Start(System.Object,System.EventArgs)">
            <summary>
            应用程序启动时，需要进行下面注册; 初始化顺序请不要更改
            </summary>
            <param name="sender"></param>
            <param name="e"></param>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.ApiHostApplication.Application_Error(System.Object,System.EventArgs)">
            <summary>
            记录错误信息
            </summary>
            <param name="sender"></param>
            <param name="e"></param>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.WebForm2.CreateSDKClient">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:Frxs.ServiceCenter.Api.Host.WebForm2.Page_Load(System.Object,System.EventArgs)">
            <summary>
            
            </summary>
            <param name="sender"></param>
            <param name="e"></param>
        </member>
        <member name="F:Frxs.ServiceCenter.Api.Host.WebForm2.form1">
            <summary>
            form1 控件。
            </summary>
            <remarks>
            自动生成的字段。
            若要进行修改，请将字段声明从设计器文件移到代码隐藏文件。
            </remarks>
        </member>
    </members>
</doc>
