<?xml version="1.0"?>
<resource>
  <actions>
    <action name="API.Help">
      <items>
        <item key="ERR_01" value="商品编号:{0}不存在，请检查" />
        <item key="ERR_02" value="提交的数据格式错误，请检查" />
        <item key="ERR_03" value="提交的数据格式错误，请检查" />
        <item key="ERR_04" value="提交的数据格式错误，请检查" />
      </items>
    </action>
  </actions>
</resource>

