

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
      @foreach(var item in @Model)
      {
          <br />
          @item.Name 
          <br />
          @item.Value
      }
    </div>
</body>
</html>
